<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>About</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{/css/css.css}">
  <script th:href="@{https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js}" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script th:href="@{https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js}" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script th:href="@{/js/bootstrap.min.js}" src="js/bootstrap.min.js"></script>
  <style>
      .container-fluid{
        font-family: 'Times New Roman';
        padding-top: 70px;
        margin-left: 0%;
        line-height: 2em;
        font-weight: 500;
        font-size: 140%;
        text-align: center;
    }

    .container-fluid h1{
      font-size: 150%;
    }

  </style>
	</head>
	<body>
	<nav class="navbar-dark navbar-expand-md  sticky-top"> 
     <a class="navbar-brand" href="#">
    <img th:src="@{images/logo.png}" alt="Logo">
  </a>
    <button class="navbar-toggler" type = "button" data-toggle = "collapse" data-target = "#navbarResponsive">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id = "navbarResponsive">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a  class="nav-link" th:href="index">Home</a>
      </li>
    </ul>
      
    </div>
</nav>
<div class="container-fluid" style="margin-top: 30px;">
  <h1>The Page you are Requesting was Not Found</h1>
  <a th:href="index">Back to Home Page</a>
</div>
	</body>
</html>