<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>About</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/css.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
	<style>
      .par{
      	font-family: 'Bradley Hand ITC';
      	margin-top: 2px;
      	line-height: 2em;
      	font-weight: 900;
      	font-size: 125%;
    }

	</style>
	</head>
	<body>
	<nav class="navbar-dark navbar-expand-md  sticky-top"> 
     <a class="navbar-brand" href="#">
    <img src="images/logo.png" alt="Logo">
  </a>
    <button class="navbar-toggler" type = "button" data-toggle = "collapse" data-target = "#navbarResponsive">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id = "navbarResponsive">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a  class="nav-link" th:href="index">Home</a>
      </li>
      <li class="nav-item">
        <a  class="nav-link" th:href="about">About</a>
      </li>
      <li class="nav-item">
        <a  class="nav-link" th:href="@{/logout}">Logout</a>
      </li>

    </ul>
      
    </div>
</nav>
<div class="container-fluid" style="margin-top: 30px;">

<div class="row">
<div class="col-lg-7 col-md-5 col-sm-8 col-xs-12"  style="margin-left: 30px;">
<div class="par">
<h1 class="text-center text-primary">About Us</h1>

	<p> Lorem ipsum dolor sit amet, alii legimus erroribus ad vix. Sit consul propriae sadipscing ad, ut qui dicit ubique. Et ius case duis iudicabit. Nam inani accusam adversarium ad, no sit tibique iracundia moderatius. Sit choro scriptorem in, no quem malis interpretaris vis.

	Cum ea senserit convenire, id ius nostrud fabulas gloriatur, et veritus percipitur mea. Ei equidem invenire eos, te atqui mandamus dissentias duo. Ad minim meliore theophrastus mea, ex ius utamur veritus. Utamur menandri ei eam, id nec mutat sonet neglegentur, ut vix partem tamquam. Lorem expetendis mel ne, has lucilius platonem disputando cu, eruditi comprehensam ut nec.</p>

	<p>Euripidis rationibus ei vim, eam corpora referrentur reprehendunt ex. Eum purto signiferumque ad. Ut quando ornatus deseruisse sed. Te voluptua persequeris ius, putent postulant usu ea, usu quando deseruisse in. Vim no nominavi partiendo consequat, at simul corpora sea. Ius option assentior referrentur ei, ea nibh debet invenire vim.</p>
	
</div>
</div>
<div class="d-none d-lg-block col-lg-2">
<div class="image" style="position: relative; top: 50px; left:15%">
<img src="images/cap1.jpg" class="img_responsive" alt="Quote">	
</div>

</div>
</div>
</div>
	</body>
</html>