<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Signup For Agents</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{/css/index.css}">
   <script th:href="@{https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js}" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script th:href="@{https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js}" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script th:href="@{/js/bootstrap.min.js}" src="js/bootstrap.min.js"></script>
	<script  type="text/javascript">
	function validateForm() {
		  var p1 = document.forms["signup"]["password"].value;
		  var p2 = document.forms["signup"]["password2"].value;
		  if (p1 != p2) {
			  document.getElementById("confirm").innerHTML = "Passwords Dont Match";
		    return false;
		  }
		}
	function readURL(input) {
	    if (input.files && input.files[0]) {
	        var reader = new FileReader();

	        reader.onload = function (e) {
	        	document.getElementById("viewImage").src = e.target.result;
	        }

	        reader.readAsDataURL(input.files[0]);
	    }
	}

	</script>
</head>


<body>

<nav class="navbar navbar-expand-sm bg-light">
   <a class="navbar-brand" href="#">
    <img th:src="@{images/logo.png}" alt="Logo">
  </a>
  <!-- Links -->

</nav>
 <div style="float: left;" class="row">
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <div id="signup-box">
      <h1 class="text-center">SIGNUP</h1>
       <form th:action="@{/agent_signup}" th:object="${form}" th:method="POST" role="form" enctype="multipart/form-data">
      <div class="contact">
        <img id="viewImage" th:src = "@{images/admin2.png}">
        <br>
       <input id="inputImage" type='file' th:field="*{imageInput}" onchange="readURL(this)"/> 
      </div>     
        <div style="float: right; width: 60%"> 
       <div class="form-group">
        <input type="text" class="form-control form-control-sm" id="username" name="username" th:field="*{username}" placeholder="Username">
      	<span class="text-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username Error</span>
      </div>
      <div class="form-group">
        <input type="password" class="form-control form-control-sm" id="password" name="password" th:field="*{password}" placeholder="Password">
      	<span class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</span>
      </div>
      <div class="form-group">
        <input type="password" class="form-control form-control-sm" id="password2" name="password2" placeholder="Confirm Password">
      	<span class="text-danger" id="confirm"></span>
      </div>
    </div>
      <div class="form-group">
        <input type="text" class="form-control form-control-sm" id="name" name="name" th:field="*{name}" placeholder="Full Name">
      	<span class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</span>
      </div>
      <div class="form-group">
        <input type="email" class="form-control form-control-sm" id="email" name="email" th:field="*{email}" placeholder="Email">
      	<span class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</span>
      </div>
      <div class="form-group">
        <input type="text" class="form-control form-control-sm" id="phoneNo" name="phoneNo" th:field="*{phoneNo}" placeholder="Phone Number">
      	<span class="text-danger" th:if="${#fields.hasErrors('phoneNo')}" th:errors="*{phoneNo}">Phone Number Error</span>
      </div>
      <div class="form-group">
        <input type="text" class="form-control form-control-sm" id="adrress" name="address" th:field="*{address}" placeholder="Address">
      	<span class="text-danger" th:if="${#fields.hasErrors('address')}" th:errors="*{address}">Address Error</span>
      </div>
       <div class="form-group">
        <textarea class="form-control" rows="8" id="description" name="description" th:field=*{description} placeholder="Detailed Description"></textarea>
      	<span class="text-danger" th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Description Error</span>
      </div>
      <button style="margin-left: 90%; margin-top: -17px" type="submit" class="btn btn-dark">Login</button>
    </form>
    
    <div class="text-danger" align="center" th:if="${param.error}">
			<p><em>Username Already Exists </em></p>
		</div>
    </div>
  </div>
</div>

 <div id="image">
    </div>
 </body>
</html>