<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Educator</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/css.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar-dark navbar-expand-md  sticky-top"> 
     <a class="navbar-brand" href="#">
    <img src="images/logo.png" alt="Logo">
  </a>
    <button class="navbar-toggler" type = "button" data-toggle = "collapse" data-target = "#navbarResponsive">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id = "navbarResponsive">
    <ul class="navbar-nav ml-auto size">
      <li class="nav-item active">
        <a  class="nav-link" href="educator_post">Home</a>
      </li>
      <li class="nav-item">
        <a  class="nav-link" href="about">About</a>
      </li>
      <li class="nav-item">
        <a  class="nav-link" th:href="@{/logout}">Logout</a>
      </li>

    </ul>
      
    </div>
</nav>

<div class="container-fluid" style="margin-top: 35px;">
  <div class="row">
    <div class="col-lg-3 col-md-5 col-sm-10 col-xs-12" >
    <img style="margin-left:15%; width: 75%;" th:src="${educator.imagePath}">      
      <div class="jumbotron" id = "left-aside" style="padding: 5px;">
        <p class = "text-center" style="font-weight:bold; font-size: 150%;">Addis Ababa University </p>
      </div>
    </div >

    <div class="col-lg-6 col-md-8 col-sm-10 col-xs-12" style="margin-top: 50px;" >
    
    <div class="container" id="text-box">
      <h1 th:text="${educator.name}">Name</h1>
      <p th:text="${educator.description}">Description</p>
    </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-10 col-xs-12" style="margin-top: 30px; ">
      <form th:action="@{/educator_post}" th:object="${news}" th:method="POST" role="form" >
	      <div style="width: 100%;" class="form-group row">
	        <input style="width:100%; margin-left: -5px;" type="text" class="form-control" th:field="*{title}" placeholder="Title">
	      	<span class="text-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Title Error</span>
	      </div>
	      <br>
	      <div class="form-group">
	        <textarea class="form-control" rows="10" th:field="*{content}" placeholder="New Post..."></textarea>
	        <span class="text-danger" th:if="${#fields.hasErrors('content')}" th:errors="*{content}">Content Error</span>
	        <button type="submit" class="btn btn-primary" style="margin-left: 80%; margin-top: 15px;">Post</button>
	      </div>
    </form>
    </div>
  </div>
</div>
</body>
</html>