<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>UNIGuide</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{/css/index.css}">
  <link href="https://fonts.googleapis.com/css?family=Exo+2|Noto+Sans" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
  <script th:href="@{https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js}" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script th:href="@{https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js}" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script th:href="@{/js/bootstrap.min.js}" src="js/bootstrap.min.js"></script>

</head>


<body>

<nav class="navbar navbar-expand-sm bg-light">
   <a class="navbar-brand" href="#">
    <img th:src="@{images/logo.png}" alt="Logo">
  </a>
  <!-- Links -->
 </nav>

<div style="float: left;" class="row">
  <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12" >
    <div id="text">
   <p style="margin-bottom: 25px;">Connect With Your Fellow High School Students</p>
    <p>Get the Most Recent News and Developments about Universities and Scholarships</p>
    </div>
  </div>
  <div class="col-lg-4 col-md-5 col-sm-12 col-xs-12" >
   <div id="login-box">
        <h1>SIGNIN</h1>
        <img th:src = "@{images/admin2.png}" alt = "ICON">
       <form th:action="@{/login}" th:method="POST">
        <div class="form-group">
          <label for="username">Username:</label>
          <input type="text" class="form-control" id="username" name="username">
        </div>

        <div class="form-group">
          <label for="password">Password:</label>
          <input type="password" class="form-control" id="password" name="password">
        </div>
        <div class="text-danger" align="center" th:if="${param.error}">
			<p><em>Username or Password is Invalid</em></p>
		</div>
        <button type="submit" class="btn btn-dark">Login</button>
      </form>

      <a th:href="reset_password">Forgot Password?</a>   
      <br>
      <a th:href="signup">Sign Up</a>

      </div>
  </div>
</div>  

 <div id="image">
    </div>
</body>
</html>