<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>News</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/css.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar-dark navbar-expand-md  sticky-top"> 
     <a class="navbar-brand" href="#">
    <img src="images/logo.png" alt="Logo">
  </a>
    <button class="navbar-toggler" type = "button" data-toggle = "collapse" data-target = "#navbarResponsive">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id = "navbarResponsive">
    <ul class="navbar-nav ml-auto size">
      <li class="nav-item active">
        <a  class="nav-link" href="universities_main">Home</a>
      </li>
      <li class="nav-item ">
        <a  class="nav-link" href="news">News</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Tools
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="quiz">Career Quiz</a></div>
      </li>
      <li class="nav-item">
        <a  class="nav-link" href="about">About</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Me
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="profile">Profile</a>
          <a class="dropdown-item" th:href="@{/logout}">Logout</a></div>
      </li>

    </ul>
      
    </div>
</nav>

<div class="container-fluid" style="margin-top: 45px; width: 100%;">
<div class="row">
<div class="col-lg-3 col-md-12 col-sm-12 col-xs-12" >
  <div id = "slides" class="carousel slide" data-ride = "carousel">
    <ul class="carousel-indicators">
  <li data-target = "#slides" data-slide-to = 0 ></li>
  <li data-target = "#slides" data-slide-to = 0 class="active"></li>
  <li data-target = "#slides" data-slide-to = 0 ></li>  
  </ul>
  <div class="carousel-inner">
  <div class="carousel-item ">
    <img src="images/scholarship.jpg" alt= "" class="img-responsive">
    <p></p>
  </div>
  <div class="carousel-item active">
    <img src="images/scholarships.jpg" alt= "" class="img-responsive img-circle" >
  </div>
  <div class="carousel-item ">
    <img src="images/images_aau.jpg" alt= "" class="img-responsive">
  </div>
  </div>
  </div>
  <div class="jumbotron" id = "left-aside" style="padding: 15px;">
    <h4 class="text-center" >Instructions</h4>
    <hr>
      <p class="lead">Lorem ipsum dolor sit amet, consectetuer elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Lorem ipsum dolor sit amet, </p>
      </div>
</div >


<div class="col-lg-8 col-md-12 col-sm-12 col-xs-12" >
	<div class="jumbotron" th:each="news: ${news}" style="margin-top: 20px; padding: 25px">
		<p class="text-muted" style="float: right;" th:text="${news.date}">11/8/2018, 6:10 pm<p>
		<h1 class="text-primary" th:text="${news.title}">Title</h1>	
		<p th:text="${news.content}">Content</p>	
		<a href="#" style="float: right; margin-top: -10px;"><b th:text="${news.author}">Lorem ipsum</b></a><p>
	</div>
</div>

</div>
</div>

</body>
</html>