<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Career Quiz</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/css.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar-dark navbar-expand-md  sticky-top"> 
  <a class="navbar-brand" href="#">
    <img src="images/logo.png" alt="Logo">
  </a>
  <button class="navbar-toggler" type = "button" data-toggle = "collapse" data-target = "#navbarResponsive">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id = "navbarResponsive">
      <ul class="navbar-nav ml-auto size">
      <li class="nav-item">
        <a  class="nav-link" href="universities_main">Home</a>
      </li>
      <li class="nav-item ">
        <a  class="nav-link" href="news">News</a>
      </li>
      <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Tools
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="quiz">Career Quiz</a>
      </li>
      <li class="nav-item">
        <a  class="nav-link" href="about">About Us</a>
      </li>
     <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Me
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="profile">Profile</a>
          <a class="dropdown-item" th:href="@{/logout}">Logout</a>
      </li>

    </ul>
      
    </div>
</nav>

  <div class="container" id="text-box" style="margin-top: 5%;">  
      <h1 style="margin-bottom: 5%;">Take a Quiz</h1>
     Lorem ipsum dolor sit amet, alii legimus erroribus ad vix. Sit consul propriae sadipscing ad, ut qui dicit ubique. Et ius case duis iudicabit. Nam inani accusam adversarium ad, no sit tibique iracundia moderatius. Sit choro scriptorem in, no quem malis interpretaris vis.

      Cum ea senserit convenire, id ius nostrud fabulas gloriatur, et veritus percipitur mea. Ei equidem invenire eos, te atqui mandamus dissentias duo. Ad minim meliore theophrastus mea, ex ius utamur veritus. Utamur menandri ei eam, id nec mutat sonet neglegentur, ut vix partem tamquam. Lorem expetendis mel ne, has lucilius platonem disputando cu, eruditi comprehensam ut nec.

      Euripidis rationibus ei vim, eam corpora referrentur reprehendunt ex. Eum purto signiferumque ad. Ut quando ornatus deseruisse sed. Te voluptua persequeris ius, putent postulant usu ea, usu quando deseruisse in. Vim no nominavi partiendo consequat, at simul corpora sea. Ius option assentior referrentur ei, ea nibh debet invenire vim.

      At omnis vocent aliquid eum, sit at soleat vocibus. Ludus postea option vel ei. Appetere referrentur est ex. Te stet animal est, eu ius molestie similique. Te sit novum verterem atomorum, an nonumes volutpat mel, atqui affert apeirian pri eu.

      <p>Ne case suavitate conclusionemque nam, an mel falli voluptatum. Est etiam utamur philosophia ex, usu et summo veritus repudiare. An mei falli eleifend. Novum aeterno no duo, sit ex nonumes complectitur. Est possim torquatos ut. Elitr conclusionemque usu et.

      Euripidis rationibus ei vim, eam corpora referrentur reprehendunt ex. Eum purto signiferumque ad. Ut quando ornatus deseruisse sed. Te voluptua persequeris ius, putent postulant usu ea, usu quando deseruisse in. Vim no nominavi partiendo consequat, at simul corpora sea. Ius option assentior referrentur ei, ea nibh debet invenire vim.

      At omnis vocent aliquid eum, sit at soleat vocibus. Ludus postea option vel ei. Appetere referrentur est ex. Te stet animal est, eu ius molestie similique. Te sit novum verterem atomorum, an nonumes volutpat mel, atqui affert apeirian pri eu.

      Ne case suavitate conclusionemque nam, an mel falli voluptatum. Est etiam utamur philosophia ex, usu et summo veritus repudiare. An mei falli eleifend. Novum aeterno no duo, sit ex nonumes complectitur. Est possim torquatos ut. Elitr conclusionemque usu et.</p>

  </div>

</body>
</html>