<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Scholarships</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" th:href="@{css/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{css/css.css}">
  <script th:href="@{https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js}" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script th:href="@{https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js}" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script th:href="@{/js/bootstrap.min.js}" src="js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar-dark navbar-expand-md  sticky-top"> 
     <a class="navbar-brand" href="#">
    <img src="images/logo.png" alt="Logo">
  </a>
  <a class="navbar-brand" href="#"><h3>Scholarships</h3></a>
    <button class="navbar-toggler" type = "button" data-toggle = "collapse" data-target = "#navbarResponsive">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id = "navbarResponsive">
    <ul class="navbar-nav ml-auto size">
      <li class="nav-item active">
        <a  class="nav-link" th:href="@{universities_main}">Home</a>
      </li>
      <li class="nav-item ">
        <a  class="nav-link" th:href="@{scholarships_main}">Agents List</a>
      </li>
      <li class="nav-item ">
        <a  class="nav-link" th:href="@{news}">News</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Tools
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" th:href="@{quiz}">Career Quiz</a>
      </li>
      <li class="nav-item">
        <a  class="nav-link" th:href="@{about}">About</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Me
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" th:href="@{profile}">Profile</a>
          <a class="dropdown-item" href="@{/logout}">Logout</a>
      </li>

    </ul>
      
    </div>
</nav>

<div class="container-fluid" style="margin-top: 45px;">
<div class="row">
<div class="col-lg-3 col-md-12 col-sm-12 col-xs-12" >
  <div id = "slides" class="carousel slide" data-ride = "carousel">
    <ul class="carousel-indicators">
  <li data-target = "#slides" data-slide-to = 0 ></li>
  <li data-target = "#slides" data-slide-to = 0 class="active"></li>
  <li data-target = "#slides" data-slide-to = 0 ></li>  
  </ul>
  <div class="carousel-inner">
   <div class="carousel-item ">
    <img src="images/scholarship.jpg" alt= "" class="img-responsive">
  </div>
  <div class="carousel-item active">
    <img src="images/scholarships.jpg" alt= "" class="img-responsive img-circle" >
  </div>
  <div class="carousel-item ">
    <img src="images/images_aau.jpg" alt= "" class="img-responsive">
  </div>
  </div>
  </div>
  <div class="jumbotron" id = "left-aside" style="padding: 15px;">
    <h4 class="text-center" >Instructions</h4>
    <hr>
      <p class="lead">Lorem ipsum dolor sit amet, consectetuer elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Lorem ipsum dolor sit amet, </p>
      </div>
</div >

<div class="col-lg-8 col-md-12 col-sm-12 col-xs-12" style="margin-top: 5px; " >
<div class="container" id = "text-box" style="padding-top: 25px">
<h2 class="text-center" style="font-family: Monospace">Agents</h2>
  
  <div th:each="agent : ${agentList}">
  <a href="#">
  <img th:src="${agent.imagePath}" class="rounded-circle" height="80px" width="80px">
  <b style="padding-left: 10px;" th:text="${agent.user.username}">Name</b></a>
  <p th:text="${agent.description}">Description</p>
  <hr>
  </div>
</div>
</div>
</div>
</div>

</body>
</html>