<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Signup</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{/css/index.css}">
  <script th:href="@{https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js}" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script th:href="@{https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js}" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script th:href="@{/js/bootstrap.min.js}" src="js/bootstrap.min.js"></script>
	<script  type="text/javascript">
	function validateForm() {
		  var p1 = document.forms["signup"]["password"].value;
		  var p2 = document.forms["signup"]["password2"].value;
		  if (p1 != p2) {
			  document.getElementById("confirm").innerHTML = "Passwords Dont Match";
		    return false;
		  }
		}
	function readURL(input) {
	    if (input.files && input.files[0]) {
	        var reader = new FileReader();

	        reader.onload = function (e) {
	        	document.getElementById("viewImage").src = e.target.result;
	        }

	        reader.readAsDataURL(input.files[0]);
	    }
	}

	</script>
</head>


<body>

<nav class="navbar navbar-expand-sm bg-light">
   <a class="navbar-brand" href="#">
    <img th:src="@{images/logo.png}" alt="Logo">
  </a>
  <!-- Links -->
  <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Signup As 
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" th:href="agent_signup">An Agent</a>
          <a class="dropdown-item" th:href="university_signup">A University</a>
          </div>
      </li>
  </ul>
</nav>
 <div style="float: left;" class="row">
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <div id="signup-box">
      <h1 class="text-center">SIGNUP</h1>
       <form name="signup" th:action="@{/signup}" th:object="${form}" onsubmit="return validateForm()" th:method="POST" role="form" enctype="multipart/form-data">
      <div class="contact">
        <img id="viewImage" th:src = "@{images/admin2.png}"  alt="ICON">
        <br>
        <input id="inputImage" type='file' th:field="*{imageInput}" onchange="readURL(this)"/>  
      </div> 
      <div style="float: right; width: 60%">   
       <div class="form-group">
        <input type="text" class="form-control" id="username" name="username" th:field="*{username}" placeholder="Username">
      	<span class="text-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username Error</span>
      </div>
      <div class="form-group">
        <input type="password" class="form-control" id="password" name="password" th:field="*{password}" placeholder="Password">
      	<span class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</span>
      </div>
      <div class="form-group">
        <input type="password" class="form-control" id="password2" name="password2" placeholder="Confirm Password">
      	<span class="text-danger" id="confirm"></span>
      </div>
  </div>
      <div class="form-group">
        <input type="text" class="form-control" id="name" name="name" th:field="*{name}" placeholder="Full Name">
        	<span class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</span>
      </div>
      <div class="form-group">
        <input type="email" class="form-control" id="email" name="email" th:field="*{email}" placeholder="Email">
      	<span class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</span>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" id="school" name="school" th:field="*{school}" placeholder="What School Do You Go To?">
      	<span class="text-danger" th:if="${#fields.hasErrors('school')}" th:errors="*{school}">School Error</span>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" id="grade" name="grade" th:field="*{grade}" placeholder="What Grade Are You In?">
      	<span class="text-danger" th:if="${#fields.hasErrors('grade')}" th:errors="*{grade}">Grade Error</span>
      </div>
       <div class="form-group">
        <textarea class="form-control" rows="4" id="about" name="about" th:field="*{description}" placeholder="About Yourself"></textarea>
      	<span class="text-danger" th:if="${#fields.hasErrors('description')}" th:errors="*{description}">About Error</span>
      </div>
      <p style="margin-bottom: 0; font-weight: bold;">What Are You More Interested In?  </p>
      <div style="margin-left: 3%;" class="form-check form-check-inline">
        <input class="form-check-input" type="radio" id="ethUnis" th:field="*{interest}" th:value="@{Ethiopian Universities}" name="interest">
        <label class="form-check-label" for="ethUnis">Ethiopian Universities</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" id="scholarships" th:field="*{interest}" th:value="@{Scholarships}" name="interest">
        <label class="form-check-label" for="scholarships">Scholarships</label>
      </div>
      <span class="text-danger" th:if="${#fields.hasErrors('interest')}" th:errors="*{interest}">Interest Error</span>
      <br>
      <button style="margin-left: 90%; margin-top: -10px;" type="submit" class="btn btn-dark">Login</button>
    </form>

		<div class="text-danger" align="center" th:utext="${errorMessage}">
			<p><em>Username Already Exists </em></p>
		</div>
    </div>
</div>
</div>

 <div id="image">
    </div>
</body>
</html>