<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Universities</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" th:href="@{css/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{css/css.css}">
  <script th:href="@{https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js}" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script th:href="@{https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js}" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script th:href="@{/js/bootstrap.min.js}" src="js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar-dark navbar-expand-md  sticky-top"> 
     <a class="navbar-brand" href="#">
    <img th:src="@{images/logo.png}" alt="Logo">
  </a>
  <a class="navbar-brand" href="#"><h3>Ethiopian Universities</h3></a>
    <button class="navbar-toggler" type = "button" data-toggle = "collapse" data-target = "#navbarResponsive">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id = "navbarResponsive">
    <ul class="navbar-nav ml-auto size">
      <li class="nav-item active">
        <a  class="nav-link" th:href="@{universities_main}">Home</a>
      </li>
      <li class="nav-item ">
        <a  class="nav-link" th:href="@{universities_list}">Universities List</a>
      </li>
      <li class="nav-item ">
        <a  class="nav-link" th:href="@{news}">News</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Tools
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" th:href="@{quiz}">Career Quiz</a>
      </li>
      <li class="nav-item">
        <a  class="nav-link" th:href="@{about}">About</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Me
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" th:href="@{profile}">Profile</a>
          <a class="dropdown-item" th:href="@{/logout}">Logout</a>
      </li>

    </ul>
      
    </div>
</nav>

<div class="container-fluid" style="margin-top: 45px;">
  <div class="row">
    <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 next" >
      <a  href="scholarships_main">Scholarships <img src="images/arrow.png"></a>
    </div>
  </div>
<div class="row">
<div class="col-lg-3 col-md-12 col-sm-12 col-xs-12" >
  <div id = "slides" class="carousel slide" data-ride = "carousel">
    <ul class="carousel-indicators">
  <li data-target = "#slides" data-slide-to = 0 ></li>
  <li data-target = "#slides" data-slide-to = 0 class="active"></li>
  <li data-target = "#slides" data-slide-to = 0 ></li>  
  </ul>
<div class="carousel-inner">
  <div class="carousel-item ">
    <img src="images/scholarship.jpg" alt= "" class="img-responsive">
    <p></p>
  </div>
  <div class="carousel-item active">
    <img src="images/scholarships.jpg" alt= "" class="img-responsive img-circle" >
  </div>
  <div class="carousel-item ">
    <img src="images/images_aau.jpg" alt= "" class="img-responsive">
  </div>
  </div>
  </div>
  <div class="jumbotron" id = "left-aside" style="padding: 15px;">
    <h4 class="text-center" >Instructions</h4>
    <hr>
      <p class="lead">Lorem ipsum dolor sit amet, consectetuer elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Lorem ipsum dolor sit amet, </p>
      </div>
</div >


<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12" style="margin-top: 50px;" >

<form th:action="@{/universities_main}" th:object="${toPost}" th:method="POST" role="form">
	<div class="input-group input-group-lg">
		<textarea class="form-control" rows="2" id="post" name="post" th:field="*{content}" placeholder="Post a Comment..."></textarea>
		<span class="text-danger" th:if="${#fields.hasErrors('content')}" th:errors="*{content}">Post Error</span>
		<button type="submit" class="btn btn-primary" style="margin-left: 12px; height:50px; margin-top: 10px;">Post</button>
	</div>
</form>
<div class="jumbotron" style="margin-top: 10px; padding: 20px; margin-bottom: 10px;" th:each="post: ${postsList}" th:if="${post.flag == 'false'}">
	 <p class="text-muted" style="float: right; font-size: 80%;" th:text="${post.date}" >Date Posted<p>
	<a href="#" style="padding-left: 10px;"><img th:src="${post.student.imagePath}" class="rounded-circle" height="40px" width="40px">
		<b style="padding-left: 10px;" th:text="${post.username}">Lorem ipsum</b>
	</a>
	<p th:text="${post.content}">Post Content</p>
	
	<div style="margin-left: 80%; margin-top: -40px;">	
			<form style="float: left; margin-right: 10px;" th:object="${postToEdit}" th:action="@{/universities_main/like}" th:method="PUT">
				<input type="text" th:id="id" th:name="id" th:value="${post.id}" hidden="hidden"  >
				<button type="submit" class="btn btn-dark" style="font-size: 80%; padding: 5px;">Like  <span class="badge badge-light" th:text="${post.likes}">0</span></button>
			</form>
			<form style="" th:action="@{/universities_main/report}" th:object="${postToEdit}" th:method="DELETE">
				<input type="text" th:id="id" th:name="id" th:value="${post.id}" hidden="hidden"  >
				<button type="submit" style="font-size: 80%; padding: 5px;" class="btn btn-dark">Report</button>  
			</form>
		</div>
	
</div>

</div>


<div class="d-none d-lg-block col-lg-3" style="margin-top: 5px; " >
<div class="jumbotron" style="padding-top: 25px">
<h2 class="text-center" style="font-family: Monospace">Universities</h2>
  <div th:each="university: ${universitiesList}">
	<a href="#"><img th:src="${university.imagePath}" class="rounded-circle" height="80px" width="80px">
	<b style="padding-left: 10px;" th:text="${university.user.username}">Name</b></a>
	<p th:text="${university.description}">	Description</p>
	<hr>	
	</div>
</div>
</div>
</div>
</div>

</body>
</html>