<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Bootstrap 4 Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/css.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar-dark navbar-expand-md  sticky-top"> 
  <div class="container-fluid">
     <a class="navbar-brand" href="#">
    <img src="images/logo.png" alt="Logo">
  </a>
    <button class="navbar-toggler" type = "button" data-toggle = "collapse" data-target = "#navbarResponsive">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id = "navbarResponsive">
    <ul class="navbar-nav ml-auto" class="size">
      <li class="nav-item active">
        <a  class="nav-link" href="universities_main">Home</a>
      </li>
      <li class="nav-item ">
        <a  class="nav-link" href="news">News</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Tools
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="quiz">Career Quiz</a>
      </li>
      <li class="nav-item">
        <a  class="nav-link" href="about">About</a>
      </li>
     <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Me
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="profile">Profile</a>
          <a class="dropdown-item" th:href="@{/logout}">Logout</a>
      </li>
    </ul>
      
    </div>
  </div>
</nav>

<div class="container-fluid" style="margin-top: 35px; padding-top: 45px;">
<div class="row">
<div class="col-lg-3 col-md-5 col-sm-10 col-xs-12" style="margin-top: 20px;">
  <div class="card" style="width:100%;">
    <img class="card-img-top rounded-circle" src="images/admin2.png" alt="Card image" style="width:80%; margin-left: 10%; margin-top: 3%;">
    <hr>
    <div class="card-body">
      <h4 class="card-title text-primary">Jhon Doe</h4>
    </div>
  </div>
</div >


<div class="col-lg-9 col-md-9 col-sm-10 col-xs-12"  >
  <div class="container" id="text-box">  
      <h1 class="text-primary">Full Name</h1>
      <h5>Email:</h5>
      <h5>Goes To:</h5>
      <h5>Grade:</h5>
      <h5>Interest:</h5>
      <h2 class="text-primary">About You</h2>
      laoreet dolore magna aliquam erat volutpat.Lorem ipsum dolor sit amet,
      Lorem ipsum dolor sit amet, consectetuer elit,Lorem ipsum dolor sit amet,

  </div>
</div>
</div>

<div class="row">
  <div class="col-lg-9 col-md-9 col-sm-10 col-xs-12">
  <div class="container" id="text-box" style="height: 100%; padding-top: 25px; margin-left: 34%; margin-top: 2%;" id = "coloring">
  <h2 class="text-center" style="font-family: Monospace">Posts</h2>
  <hr>
    <p>Lorem ipsum dolor sit amet, consectetuer elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Lorem ipsum dolor sit amet,</p>
  <div class="input-group input-group-sm" >
  </div>

  <hr>
  <p>Lorem ipsum dolor sit amet, consectetuer elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Lorem ipsum dolor sit amet,</p>
  <div class="input-group input-group-sm" >
  </div>
  <hr>
  </div>
  </div>
</div>
</div>
</body>
</html>
